force-app/main/default/flows/API_GetDayOffFrance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AP001_GetFranceHolidays</name>
        <label>AP001_GetFranceHolidays</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>API_GetDayOff</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rdv</name>
            <value>
                <elementReference>RDV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zone</name>
            <value>
                <elementReference>Zone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>API_GetDayOff</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>alsacemoselle</name>
        <choiceText>&lt;span style=&quot;color: rgb(59, 65, 81); font-family: &amp;quot;Source Code Pro&amp;quot;, monospace; font-size: 12px; background-color: rgba(0, 0, 0, 0.07);&quot;&gt;alsace-moselle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alsace-moselle</stringValue>
        </value>
    </choices>
    <choices>
        <name>guadeloupe</name>
        <choiceText>&lt;span style=&quot;color: rgb(59, 65, 81); font-family: &amp;quot;Source Code Pro&amp;quot;, monospace; font-size: 12px; background-color: rgba(0, 0, 0, 0.07);&quot;&gt;guadeloupe&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guadeloupe</stringValue>
        </value>
    </choices>
    <choices>
        <name>guyane</name>
        <choiceText>&lt;span style=&quot;color: rgb(59, 65, 81); font-family: &amp;quot;Source Code Pro&amp;quot;, monospace; font-size: 12px; background-color: rgba(0, 0, 0, 0.07);&quot;&gt;guyane&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guyane</stringValue>
        </value>
    </choices>
    <choices>
        <name>la_reunion</name>
        <choiceText>la-reunion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>la-reunion</stringValue>
        </value>
    </choices>
    <choices>
        <name>martinique</name>
        <choiceText>martinique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>martinique</stringValue>
        </value>
    </choices>
    <choices>
        <name>mayotte</name>
        <choiceText>mayotte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mayotte</stringValue>
        </value>
    </choices>
    <choices>
        <name>metropole</name>
        <choiceText>metropole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>metropole</stringValue>
        </value>
    </choices>
    <choices>
        <name>nouvelle_caledonie</name>
        <choiceText>nouvelle-caledonie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>nouvelle-caledonie</stringValue>
        </value>
    </choices>
    <choices>
        <name>polynesie_francaise</name>
        <choiceText>polynesie-francaise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>polynesie-francaise</stringValue>
        </value>
    </choices>
    <choices>
        <name>saint_barthelemy</name>
        <choiceText>saint-barthelemy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>saint-barthelemy</stringValue>
        </value>
    </choices>
    <choices>
        <name>saint_martin</name>
        <choiceText>saint-martin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>saint-martin</stringValue>
        </value>
    </choices>
    <choices>
        <name>saint_pierre_et_miquelon</name>
        <choiceText>saint-pierre-et-miquelon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>saint-pierre-et-miquelon</stringValue>
        </value>
    </choices>
    <choices>
        <name>wallis_et_futuna</name>
        <choiceText>wallis-et-futuna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>wallis-et-futuna</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Succes</name>
        <label>Succes ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AP001_GetFranceHolidays.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <label>success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>API_GetDayOffFrance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API_GetDayOffFrance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Disclaimer</name>
        <label>Disclaimer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screnn_Input</targetReference>
        </connector>
        <fields>
            <name>Preambule</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;We’ll verify that your appointment date is not on a weekend or a public holiday.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Display_Error_Message</name>
        <label>Screen Display Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Screen_success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(254, 9, 9); font-size: 16px;&quot;&gt;{!AP001_GetFranceHolidays.response}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screnn_Input</name>
        <label>Screnn_Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AP001_GetFranceHolidays</targetReference>
        </connector>
        <fields>
            <name>Zone</name>
            <choiceReferences>metropole</choiceReferences>
            <choiceReferences>alsacemoselle</choiceReferences>
            <choiceReferences>guadeloupe</choiceReferences>
            <choiceReferences>guyane</choiceReferences>
            <choiceReferences>la_reunion</choiceReferences>
            <choiceReferences>martinique</choiceReferences>
            <choiceReferences>mayotte</choiceReferences>
            <choiceReferences>nouvelle_caledonie</choiceReferences>
            <choiceReferences>polynesie_francaise</choiceReferences>
            <choiceReferences>saint_barthelemy</choiceReferences>
            <choiceReferences>saint_martin</choiceReferences>
            <choiceReferences>saint_pierre_et_miquelon</choiceReferences>
            <choiceReferences>wallis_et_futuna</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>metropole</defaultSelectedChoiceReference>
            <fieldText>Zone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RDV</name>
            <dataType>DateTime</dataType>
            <fieldText>RDV</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disclaimer</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
